<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fithub.codekienmee.fithub">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.fithub.codekienmee.fithub.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2SYlx2KFIZu02BpFimnv56VPgHhNrkbc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_up_page"
            android:theme="@style/FullscreenTheme">
            <intent-filter>

                <!-- <action android:name="com.fithub.codekienmee.fithub.StartUpActivity" /> -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPageActivity"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.fithub.codekienmee.fithub.MainPageActivity" />
                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>